*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav{
    height:80px;
    margin: 0;
    padding: 10px;
    width: auto;
    background-color:rgba(51, 51, 51, 0.945);
    color: white;
}
.side-bar{
    height: 100vh;
    width: 14rem;
    background-color:#006636;
    padding-top: -10rem;
}
ul{
    list-style-type: none;
}
li a{
    text-decoration: none;
    padding: 20px 0;
    display:flex;
    color: white;
}
.navList{
    margin: 0;
    display: grid;
    grid-template-columns: 25% 70%;
    height: calc(100vh - 80px);
    overflow: hidden;
    
}
.tbb{
    margin: 0;
    padding: 110px;
    padding-left: 28px;
    padding-bottom: 100px;
    font-family: sans-serif;
    box-sizing: border-box;
    position: relative;
    top: -6rem;
    left: -9rem;
    width: 84rem;
}
.table{
    width: 100%;
    border-collapse: collapse;
    padding: 17px;
}.ttable{
    padding: 14px;
}

.table td{
    padding: 10px 18px;
    border: 0.8px solid #ddd;
    text-align: left;
}
.table th{
    padding: 10px 18px;
    border: 0.8px solid #ddd;
    color: #000000;
}
.table tbody tr:nth-child(even){
    background-color: #f5f5f5;
}
#sheet{
    font-weight: 100;
    padding: 12px;
    background-color: aliceblue;
    border-radius: 3px;
}
#line{
    text-decoration: none;
    color: white;
    background-color: #006636;
    border-radius: 7px;
    padding: 8px 20px;
}
.cll{
    color: red;
    font-weight: bold;
}









